// Body
$body-bg: #fafafa;
$color-dark: #1e1e1e;
$color-blue: #485ba1;
$color-purple: #9153a9;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
